{% extends 'layout.html' %}

{% block body %}

<form class="form-article" role="form" method="POST" action="">

  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

  <h1 class="h3 mb-3 font-weight-normal">Write your article</h1>

  <input type="title" name="title" id="inputTitle" class="form-control" placeholder="Title" required autofocus>

  <div class="editor">
    <textarea type="body" name="body" id="editor" class="form-control" placeholder="Text" required rows="8"></textarea>
  </div>
  <p>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="submit" />
  </p>

  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>


</form>

{% endblock %}
